@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.page3{
     width: 85%;
    max-width: 1200px;
      margin: auto;
      color: white;
   }


.imgcontent {
    width: 100%;
   max-width: 1200px;
    background-image: url("https://images.unsplash.com/photo-1602236449489-83fe556e61b3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2166&q=80");
    height: 300px;
    margin: auto;
  
}

.imgcontent div{
    width: 100%;
    max-width: 1200px;
    background-color: #021425b9;
    height: 300px;
    
}

.imgcontent h1{
    padding-top: 2%;
     font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 47px;
text-align: center;
text-indent: 1px;
}

.imgcontent ol{
     display: flex;
    font-family: Noto Sans;
font-style: normal;
font-size: 24px;
line-height: 24px;
padding-top: 3%;
padding-bottom: 3%;
}

.imgcontent li{
    width: 150px;
    margin: 3%;
}

.page3-row{
    margin-top: 5%;
    object-fit: cover;
  
}

.page3-row h1{
 font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 47px;
text-align: center;
text-indent: 1px;
margin-bottom: 0%;

}

.p3 {
    width: 90%;
    margin:auto;
    height: 200px;
}
.p3 svg {
    height: 300px;
    width: 100%;
   margin: auto;
}

@media only screen and (max-width: 800px){

    
.imgcontent ol{
    margin-top: 0%;
font-size: 18px;
line-height: 20px;
display: flex;
flex-wrap: wrap;
}

}

@media only screen and (max-width: 500px){

.imgcontent {
    width: 90%;
   max-width: 500px;
}

.imgcontent div{
max-width: 500px;
 
} 
 
.imgcontent h1{
    width: 90%;
    font-size: 20px;
    margin-bottom: 0%;
}

.imgcontent ol{
    margin-top: 0%;
font-size: 18px;
line-height: 20px;
display: flex;
flex-wrap: wrap;
}



}
