@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@100&display=swap');

.nav{
    width: 90%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;

}
.icon1{
    width: 10%;
}
.nav ul{
    list-style: none;
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: auto;
   
}

.nav ul li{
margin: auto;
font-family: Roboto; 
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 33px;
color: #FFFFFF;

}


@media only screen and (max-width: 1000px){
    
    .nav {
        max-width: 700px;
    }
    .nav ul {
        display: none;
    }
}